<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Libro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/recursos/logo-jes.png') }}">
</head>
<body>
    <main class="main-container main-curso-material">
        <section class="modals-container agregar-material-section">
            <form action="/add/libros/" method="post" enctype="multipart/form-data">
                <fieldset class="agregar-material-fieldset p-agregar-libro-fieldset">
                    <legend>Agregar libro de refuerzo 1ro - A</legend>
                    <div class="imagen-de-fondo-curso">
                        <label for="fondo-material">Portada</label>
                        <input type="file" id="fondo-material" name="portada">
                    </div>
                    <div class="dato-material info-material">
                        <label for="titulo">Titulo del libro</label>
                        <input type="text" name="titulo" id="titulo">
                    </div>
                    <div class="dato-material">
                        <label for="recurso-de-estudio">Subir libro</label>
                        <input type="file" id="recurso-de-estudio" name="libro">
                    </div>
                </fieldset>
                <div class="botones-agg-material">
                    <input type="submit" value="Enviar">
                    <input type="reset" value="Rehacer">
                </div>
            </form>
        </section>
    </main>
    <script src="{{ url_for('static', filename='js/cerrar-modal-agg-material.js') }}"></script>
</body>
</html>