
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Calificación</title>
</head>
<body>
    <h1>Agregar Calificación</h1>
    <form action="/agregar/calificacion" method="POST">
        <label for="id_estudiante">ID Estudiante:</label>
        <input type="text" name="id_estudiante" required>
        <label for="id_asignatura">ID Asignatura:</label>
        <input type="text" name="id_asignatura" required>
        <label for="C1">C1:</label>
        <input type="text" name="C1" required>
        <label for="C2">C2:</label>
        <input type="text" name="C2" required>
        <label for="C3">C3:</label>
        <input type="text" name="C3" required>
        <label for="C4">C4:</label>
        <input type="text" name="C4" required>
        <label for="calificacion_final">Calificación Final:</label>
        <input type="text" name="calificacion_final" required>
        <button type="submit">Agregar</button>
    </form>
</body>
</html>
