<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/recursos/logo-jes.png') }}">
</head>
<body>
    <div class="body-container">
        <header>
            <div class="header-container">
                <figure class="jesIMG-container">
                    <img src="{{ url_for('static', filename='imagenes/recursos/logo-jes.png') }}" alt="JES-LOGO">
                </figure>            
                <div class="jes-titulo">
                    <h2>JES</h2>
                    <h3>Junior Explorers System</h3>                
                </div>
                <nav class="nav-container">
                    <ul>
                        <li class="nav-menu-home">
                            <a href="#" class="menu"><figure><img src="{{ url_for('static', filename='imagenes/iconos/menu.svg') }}" alt="menu"></figure></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main-container">
            <div class="seleccion-cursos-p">
                <form action="/home/profesor/" method="post">
                    <select name="curso_seleccionado" id="cursos">
                        {% for curso in cursos %}
                            <option value="{{ curso.id_curso }}" {% if curso.id_curso == curso_seleccionado %}selected{% endif %}>{{ curso.nombre }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Seleccionar</button>
                </form>
            </div>
            <section class="section-top-container">
                <article class="material-container">
                    <a href="{{ url_for('p_refuerzo_libros') }}">
                        <h2>Refuerzo de clase</h2>
                        <figure><img src="{{ url_for('static', filename='imagenes/iconos/formulario.svg') }}"
                                alt="refuerzo-de-clase-img"></figure>
                    </a>
                </article>
                <article class="calendario-container">
                    <a href="/profesor/perfil">
                        <h2>{{ perfil.nombre }} {{ perfil.apellido }}</h2>
                        <figure><img src="{{ perfil.imagen_perfil }}" alt="recordatorio"
                                style="border-radius: 100%;width: 50px; height: 50px;"></figure>
                    </a>
                </article>
                <article class="material-container">
                    <a href="{{ url_for('p_material_estudio', curso_id=curso_seleccionado) }}">
                        <figure class="material-figure"><img src="{{ url_for('static', filename='imagenes/iconos/capas.svg') }}"
                                alt="perfil-estudiante"></figure>
                        <h2>Recurso De Estudio</h2>
                    </a>
                </article>
            </section>
            <section class="ca-ho-section">
                <div class="ca-ho-scroll">
                    <article class="tabla-centrar tabla-calificacion-centrar">
                        <div class="scroll-calificacion-p">
                            <div class="espaciado-table">
                                <table class="tabla-calificacion tabla-asistencia" id="table-profesor">
                                    <thead>
                                        <tr>
                                            <th>Matricula</th>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Info</th>
                                            <th>Calificar</th>
                                            <th>Asistir</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for estudiante in estudiantes %}
                                        <tr class="fila-calificacion">
                                            <td>{{ estudiante.matricula }}</td>
                                            <td>{{ estudiante.nombre }}</td>
                                            <td>{{ estudiante.apellidos }}</td>
                                            <td class="ver-estudiante-p">
                                                <a href="/profesor/perfil/estudiante/{{ estudiante.id_estudiante }}"><figure><img src="{{ url_for('static', filename='imagenes/iconos/lupa.svg') }}" alt="ver-estudiante"></figure></a>
                                            </td>
                                            <td>
                                                <a href="#modal-calificar-{{ estudiante.id_estudiante }}">
                                                    <button class="calificar-btn" onclick="openModal()">Calificar</button>
                                                </a>
                                            </td >
                                            <td>
                                                <a href="#modal-asistir-{{ estudiante.id_estudiante }}">
                                                    <button class="ver-estudiante-p asistir-btn" onclick="openModal()">Asistir</button>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </main>        
        {% for estudiante in estudiantes %}
        <div id="modal-calificar-{{ estudiante.id_estudiante }}" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Calificar del estudiante: {{ estudiante.nombre }} {{ estudiante.apellidos }}</h2>
                <form action="/home/profesor/calificaciones/" method="post">
                    <input type="hidden" name="id_estudiante" value="{{ estudiante.id_estudiante }}">
                    <input type="hidden" name="curso_seleccionado" value="{{ session.get('curso_seleccionado') }}">
                    <label for="c1">C1:</label>
                    <input type="text" name="c1"
                        value="{{ calificaciones.get(estudiante.id_estudiante, {}).get('c1', '') }}"><br>
                    <label for="c2">C2:</label>
                    <input type="text" name="c2"
                        value="{{ calificaciones.get(estudiante.id_estudiante, {}).get('c2', '') }}"><br>
                    <label for="c3">C3:</label>
                    <input type="text" name="c3"
                        value="{{ calificaciones.get(estudiante.id_estudiante, {}).get('c3', '') }}"><br>
                    <label for="c4">C4:</label>
                    <input type="text" name="c4"
                        value="{{ calificaciones.get(estudiante.id_estudiante, {}).get('c4', '') }}"><br>
                    <label for="c_final">C Final:</label>
                    <input type="text" name="c_final"
                        value="{{ calificaciones.get(estudiante.id_estudiante, {}).get('c_final', '') }}"><br>
                    <button type="submit">Guardar Calificaciones</button>
                </form>
            </div>
        </div>
        {% endfor %}
        <!-- Modal para Asistencia -->
        {% for estudiante in estudiantes %}
            <div id="modal-asistir-{{ estudiante.id_estudiante }}" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Asistencia del estudiante: {{ estudiante.nombre }} {{ estudiante.apellidos }}</h2>
                    <form action="/home/profesor/asistencia/" method="post">
                        <input type="hidden" name="id_estudiante" value="{{ estudiante.id_estudiante }}">
                        <input type="hidden" name="curso_seleccionado" value="{{ session.get('curso_seleccionado') }}">
                        {% set asistencia = asistencias.get(estudiante.id_estudiante, {}) %}
                        <label for="sect_oct">Sect. Oct:</label>
                        <input type="text" name="sect_oct" value="{{ asistencia['Sect_Oct'] if 'Sect_Oct' in asistencia else '' }}"><br>
                        <label for="nov_dic">Nov-Dic:</label>
                        <input type="text" name="nov_dic" value="{{ asistencia['Nov_Dic'] if 'Nov_Dic' in asistencia else '' }}"><br>
                        <label for="ene_feb">Ene-Feb:</label>
                        <input type="text" name="ene_feb" value="{{ asistencia['Ene_Feb'] if 'Ene_Feb' in asistencia else '' }}"><br>
                        <label for="marz_abril">Marz-Abril:</label>
                        <input type="text" name="marz_abril" value="{{ asistencia['Marz_Abril'] if 'Marz_Abril' in asistencia else '' }}"><br>
                        <label for="may_jun">May-Jun:</label>
                        <input type="text" name="may_jun" value="{{ asistencia['May_Jun'] if 'May_Jun' in asistencia else '' }}"><br>
                        <label for="total_asistencias">Total de Asistencias:</label>
                        <input type="text" name="total_asistencias" value="{{ asistencia['Total_de_asistencias'] if 'Total_de_asistencias' in asistencia else '' }}"><br>
                        <button type="submit">Guardar Asistencia</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    <script src="{{ url_for('static', filename='js/menu-profesor-a.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modales_asistir_cali.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
