<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material de estudio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/recursos/logo-jes.png') }}"> 
</head>
<body>
    <div class="body-container">
        <header>
            <div class="header-container">
                <figure class="jesIMG-container">
                    <img src="{{ url_for('static', filename='imagenes/recursos/logo-jes.png') }}" rel="icon" alt="JES-LOGO">
                </figure>            
                <div class="jes-titulo">
                    <h2>JES</h2>
                    <h3>Junior Explorers System</h3>                
                </div>
                <nav class="nav-container">
                    <ul>
                        <li class="nav-home">
                            <a href="/home/profesor/" class="li-home"><figure><img src="{{ url_for('static', filename='imagenes/iconos/house-blank.svg') }}" alt="perfil"></figure></a>
                        </li>
                        <li class="nav-menu nav-menu-top">
                            <a href="#" class="menu"><figure><img src="{{ url_for('static', filename='imagenes/iconos/menu.svg') }}" alt="menu"></figure></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main-container">
            <section class="section-materiales">
                <div class="cabecera-agg-refuerzo cabecera-libro">
                    <div class="cabecera-flex">
                        <a href="{{ url_for('p_refuerzo_libros', curso_seleccionado=curso_seleccionado)}}" class="regresar-libro-video">Regresar</a>
                        <h1 class="titulo-refuerzo titulo-libro">{{ libros.titulo }}</h1>
                    </div>
                </div>
                <article class="libros-refuerzo libros-refuerzo-iframe">
                    <iframe src="{{ libros.subir_libro }}" frameborder="0"></iframe>
                </article>
            </section>
        </main>
    </div>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
