<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del estudiante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/recursos/logo-jes.png') }}"> 
</head>
<body>
    <main class="main-container">
        <section class="modals-container modals-container-perfiles">
            <article class="modal-perfil">
                <div class="perfil-izquierda">
                    <h4 class="titulo-perfil">Estudiante</h4>
                    <figure class="perfil-estudiante perfil-profesor">
                        <img src="{{estudiante.imagen_perfil}}" alt="img-perfil">
                    </figure>
                    <div class="perfil-izquierda-abajo">
                        <h6>Grado</h6>
                        <h4>{{estudiante.nom_curso}}</h4>
                    </div>
                </div>
                <div class="perfil-derecho">
                    <div class="perfil-derecha-arriba">
                        <h2>{{estudiante.nombre}} {{estudiante.apellido}}</h2>
                        <p>{{estudiante.matricula}}</p>
                    </div>
                    <div class="datos datos1">
                        <h3>Email</h3>
                        <p>{{estudiante.email}}</p>
                    </div>
                    <div class="datos">
                        <h3>Fecha de Nacimiento</h3>
                        <p>{{estudiante.fecha_nacimiento}}</p>
                    </div>
                    <div class="datos">
                        <h3>Genero</h3>
                        <p>{{estudiante.genero}}</p>
                    </div>
                    <div class="datos">
                        <h3>Dirección</h3>
                        <p>{{estudiante.direccion}}</p>
                    </div>
                    <div class="datos">
                        <h3>Telefono</h3>
                        <p>{{estudiante.telefono}}</p>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <script src="{{ url_for('static', filename='js/perfil.js') }}"></script>
</body>
</html>