<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/recursos/logo-jes.png') }}">
</head>
<body>
    <main class="main-container">
        <section class="modals-container">
            <article class="modal-perfil">
                <div class="perfil-izquierda">
                    <h4 class="titulo-perfil">Profesor</h4>
                    <figure class="perfil-estudiante perfil-profesor">
                        <img src="{{ url_for('static', filename='imagenes/recursos/perfil-masculino-2.jpg') }}" alt="img-perfil">
                    </figure>
                </div>
                <div class="perfil-derecho">
                    <div class="perfil-derecha-arriba">
                        <h2>{{perfil.nombre}} {{perfil.apellido}}</h2>
                        <p>{{perfil.matricula}}</p>
                    </div>
                    <div class="datos datos1">
                        <h3>Email</h3>
                        <p>{{perfil.email}}</p>
                    </div>
                    <div class="datos">
                        <h3>Cedula</h3>
                        <p>{{perfil.cedula}}</p>
                    </div>
                    <div class="datos">
                        <h3>Materia</h3>
                        <p>{{perfil.materia}}</p>
                    </div>
                    <div class="datos">
                        <h3>Genero</h3>
                        <p>{{perfil.genero}}</p>
                    </div>
                    <div class="datos">
                        <h3>Dirección</h3>
                        <p>{{perfil.direccion}}</p>
                    </div>
                    <div class="datos">
                        <h3>Telefono</h3>
                        <p>{{perfil.telefono}}</p>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <script src="{{ url_for('static', filename='js/perfil.js') }}"></script>
</body>
</html>