<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/recursos/logo-jes.png') }}">
</head>
<body>
    <div class="body-container">
        <header>
            <div class="header-container">
                <figure class="jesIMG-container">
                    <img src="{{ url_for('static', filename='imagenes/recursos/logo-jes.png') }}" alt="JES-LOGO">
                </figure>            
                <div class="jes-titulo">
                    <h2>JES</h2>
                    <h3>Junior Explorers System</h3>                
                </div>
                <nav class="nav-container">
                    <ul>
                        <li class="nav-home">
                            <a href="/home/profesor/" class="li-home"><figure><img src="{{ url_for('static', filename='imagenes/iconos/house-blank.svg') }}" alt="perfil"></figure></a>
                        </li>
                        <li class="nav-menu">
                            <a href="#" class="menu"><figure><img src="{{ url_for('static', filename='imagenes/iconos/menu.svg') }}" alt="menu"></figure></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main-container main-curso-material">    
            <div class="materia-clases-elegir">
                <h2>Tarea 1 - Investigaci&oacute;n</h2>
            </div>            
            <div class="imagen-de-fondo-curso">
                <figure>
                    <img src="{{ url_for('static', filename='imagenes/recursos/Auditorio-img-fondo.jpg') }}" alt="imagen-de-fondo">
                    <figcaption>
                        {{recurso.nom_asignatua}}
                    </figcaption>
                </figure>
            </div>
            <section class="curso-material-container">
                <div class="c-curso-central">
                    <article class="curso-main">
                        <div class="informacion-profesor-material">
                            <figure>
                                <img src="{{ url_for('download_file', filename=profesor.imagen_perfil) }}" alt="profesor">
                            </figure>
                            <h3><span class="profesor-material-span">YO:</span>{{profesor.nombre}} {{profesor.apellido}}</h3>
                        </div>
                        <div class="contenedor-material-curso">
                            <div class="descripcion-material-curso">
                                <figure class="descripcion-m-c-editar" style="cursor: pointer;">
                                    <img src="{{ url_for('static', filename='imagenes/iconos/lapiz-editar.svg') }}" alt="editar">
                                </figure>
                                <div class="texto-limitador">
                                    <p id="texto-material-curso" class="editable">{{recurso.descripcion}}</p>                                    
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="c-curso-izquierdo c-c-derecho">
                        <article class="curso-descargar">
                            <h3>Recurso <span class="display-none">De Estudio</span></h3>
                            <a href='{{url_for("p_material_de_curso_subido", material = recurso.id_material)}}'id="material-p">Ver</a>
                        </article>
                        <article class="curso-descargar">
                            <h3><span class="display-none">Clases</span> Enviadas</h3>
                            <a href="/profesor/clases/enviadas/">Click</a>
                        </article>
                        <div class="botones-curso botones-curso-p">
                            <form action="{{url_for('eliminar_recurso_p')}}" method="post">
                                <input type="hidden" value="{{recurso.id_material}}" name="id_material">                            
                                <button type="submit" value="Eliminar Contenido">Eliminar <span class="display-none">Contenido</span></button>
                            </form>
                        </div>
                    </div>
            </section>
        </main>
    </div>
    <script src="{{ url_for('static', filename='js/menu-profesor-a.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modificar-descripcion-curso.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='js/modal-material.js') }}"></script>
    <script src="{{ url_for('static', filename='js/material-subido-p.js') }}"></script>
</body>
</html>