<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refuerzo de estudio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/recursos/logo-jes.png') }}">
</head>
<body>
    <main class="main-container">
        <section class="modals-container">
            <div class="agg-materias-container">
                <h1 class="titulo-agg-materia">Agregar materia</h1>
                <div class="materias-existente">
                    <article class="article-material-existente">
                        <figure class="materia-imagen">
                            <img src="{{ url_for('static', filename='imagenes/star8k.jpg') }}" alt="imagen-materia">
                        </figure>
                        <h4>Matemáticas</h4>
                    </article>
                    <article class="article-material-existente">
                        <figure class="materia-imagen">
                            <img src="{{ url_for('static', filename='imagenes/star8k.jpg') }}" alt="imagen-materia">
                        </figure>
                        <h4>Lengua Española</h4>
                    </article>
                    <article class="article-material-existente">
                        <figure class="materia-imagen">
                            <img src="{{ url_for('static', filename='imagenes/star8k.jpg') }}" alt="imagen-materia">
                        </figure>
                        <h4>Francés</h4>
                    </article>
                    <article class="article-material-existente">
                        <figure class="materia-imagen">
                            <img src="{{ url_for('static', filename='imagenes/star8k.jpg') }}" alt="imagen-materia">
                        </figure>
                        <h4>Inglés</h4>
                    </article>
                    <article class="article-material-existente">
                        <figure class="materia-imagen">
                            <img src="{{ url_for('static', filename='imagenes/star8k.jpg') }}" alt="imagen-materia">
                        </figure>
                        <h4>Ciencias Sociales</h4>
                    </article>
                    <article class="article-material-existente">
                        <figure class="materia-imagen">
                            <img src="{{ url_for('static', filename='imagenes/star8k.jpg') }}" alt="imagen-materia">
                        </figure>
                        <h4>Ciencias Naturales</h4>
                    </article>
                </div>
                <article class="agregar-material-contenido">
                    <form action="/subir_materia" method="post" enctype="multipart/form-data">
                        <div class="materia-dato dato-img-materia">
                            <div id="imagen-materia-js"></div>
                            <label for="imagen-materia">Subir imagen</label>
                            <input type="file" id="imagen-materia">      
                        </div>
                        <div class="materia-dato-container">
                            <div class="materia-dato">
                                <label for="nom-materia">Nombre de la materia</label>
                                <input type="text" id="nom-materia" name="nom_asignatura" required>         
                            </div>
                            <div class="materia-dato">
                                <label for="curso-materia">Curso</label>
                                <select name="curso-materia" id="curso-materia" required>
                                    <option value="">1ro</option>
                                    <option value="">2do</option>
                                    <option value="">3ro</option>
                                    <option value="">4to</option>
                                    <option value="">5to</option>
                                    <option value="">6to</option>
                                </select>
                            </div> 
                        </div>
                        <button type="submit">Subir Materia</button>
                    </form>
                </article>
            </div>
        </section>
    </main>
    <script src="{{ url_for('static', filename='js/menu-admin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js-cerrar-modals.js') }}"></script>
    <script src="{{ url_for('static', filename='js/visualizar-img-agg-material.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='js/a-visualizar_imagenes.js') }}"></script>
</body>
</html>