<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/recursos/logo-jes.png') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <figure class="jesIMG-container">
                <img src="{{ url_for('static', filename='imagenes/recursos/logo-jes.png') }}" alt="JES-LOGO">
            </figure>            
            <div class="jes-titulo">
                <h2>JES</h2>
                <h3>Junior Explorers System</h3>                
            </div>
            <nav class="nav-container">
                <ul>
                    <li class="nav-home">
                        <a href="/home/admin/" class="li-home"><figure><img src="{{ url_for('static', filename='imagenes/iconos/house-blank.svg') }}" alt="perfil"></figure></a>
                    </li>
                    <li class="nav-menu">
                        <a href="#" class="menu"><figure><img src="{{ url_for('static', filename='imagenes/iconos/menu.svg') }}" alt="menu"></figure></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main-curso-material" id="main-curso-admin">
        <section class="cursos-admin">
            <article class="profesor-principal">
                <div class="imagen-profesor-principal">
                    <figure>
                        <img src="{{ url_for('static', filename='imagenes/recursos/perfil-masculino-2.jpg') }}" alt="profesor">
                    </figure>
                </div>
                <div class="descripcion-profesor-admin">
                    <h2>Profesor Principal</h2>
                    <h3>Manuel Perez Maldonado</h3>
                </div>
            </article>
            <article class="tabla-curso-estudiantes">
                <div class="cabecera-tabla-estudiantes-a cabecera-curso-admin">
                    <a href="/admin/profesores">Profesores</a>
                    <!-- <h2 class="titulo-curso">Estudiantes</h2> -->
                    <div class="lado-derecho-curso-cabecera">
                        <a href="/admin/registro/estudiante">agregar</a>
                        <a href="/admin/horario">Horario</a>
                    </div>
                </div>
                <div class="scroll-tabla-container-admin">
                    <table id="tabla-estudiantes-admin">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>F. Nacimiento</th>
                            <th>Curso</th>
                            <th>G&eacute;nero</th>
                        </tr>
                        {% for estudiante in estudiantes %}
                        <tr class="fila-calificacion">
                            <td>{{ estudiantes.id_estudiante }}</td>
                            <td>{{ estudiantes.nombre }}</td>
                            <td>{{ estudiantes.apellidos }}</td>
                            <td>{{ estudiantes.fecha_nacimiento }}</td>
                            <td>{{ estudiantes.curso }}</td>
                            <td>{{ estudiantes.genero }}</td>
                            <!-- <td><a href="{{ url_for('editar_estudiante', id=estudiante.id_estudiante) }}"><figure><img src="{{ url_for('static', filename='imagenes/iconos/editar.svg') }}" alt="editar-profesor"  class="btn-editar"></figure></a></td>
                            <form action="{{ url_for('eliminar_estudiante') }}"method="POST"style="display:inline;">
                                <input type="hidden" name="id_estudiante" value="{{ estudiantes.id_estudiante }}">
                                <button type="submit" class="btn-eliminar">Eliminar</button>
                            </form> -->
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </article>
        </section>
    </main>
</body>
</html>