<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal de Edición de Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/recursos/logo-jes.png') }}">
</head>
<body>
    <main id="registro-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form action="/actualizar_estudiantes" method="post" class="form-container">
                <fieldset>
                    <legend>Editar Perfil de Estudiante</legend>
                    <input type="hidden" name="id_estudiante" value="{{ estudiantes[0] }}">
                    <input type="hidden" name="id_curso" value="{{ estudiantes[1] }}">
                    <div class="form-group">
                        <div class="subir-imagen-registro">
                            <div class="imagen-registro-preview" id="preview">
                                <!-- Previsualización de imagen -->
                            </div>
                            <button type="button" class="btn-subir-imagen" id="btnSubirImagen">Subir Imagen</button>
                            <input type="file" id="subir-imagen" accept="image/*">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input value="{{ estudiantes[3] }}" type="text" id="nombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="apellidos">Apellidos:</label>
                        <input value="{{ estudiantes[4] }}" type="text" id="apellidos" name="apellidos" required>
                    </div>
                    <div class="form-group">
                        <label for="matricula">Matrícula:</label>
                        <input value="{{ estudiantes[2] }}" type="text" id="matricula" name="matricula" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Correo Electrónico:</label>
                        <input value="{{ estudiantes[8] }}" type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                        <input value="{{ estudiantes[6] }}" type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
                    </div>
                    <div class="form-group">
                        <label for="direccion">Dirección:</label>
                        <input value="{{ estudiantes[5] }}" type="text" id="direccion" name="direccion" required>
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono:</label>
                        <input value="{{ estudiantes[9] }}" type="tel" id="telefono" name="telefono" required>
                    </div>
                    <div class="form-group">
                        <label for="contrasena">Contraseña:</label>
                        <input value="{{ estudiantes[11] }}" type="password" id="contrasena" name="contrasena" required>
                    </div>
                    <button type="submit" class="btn-guardar-cambios">Guardar Cambios</button>
                </fieldset>
            </form>
        </div>
    </main>
</body>
</html>
