<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/recursos/logo-jes.png') }}">
</head>
<body>
    <div class="body-container">
        <header>
            <div class="header-container">
                <figure class="jesIMG-container">
                    <img src="{{ url_for('static', filename='imagenes/recursos/logo-jes.png') }}" alt="JES-LOGO">
                </figure>            
                <div class="jes-titulo">
                    <h2>JES</h2>
                    <h3>Junior Explorers System</h3>                
                </div>
                <nav class="nav-container">
                    <ul>
                        <li class="nav-home">
                            <a href="/home/admin/" class="li-home"><figure><img src="{{ url_for('static', filename='imagenes/iconos/house-blank.svg') }}" alt="perfil"></figure></a>
                        </li>
                        <li class="nav-menu">
                            <a href="#" class="menu"><figure><img src="{{ url_for('static', filename='imagenes/iconos/menu.svg') }}" alt="menu"></figure></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main-container main-reporte-admin">
            <section class="curso-material-container">
                    <article id="reporte-article">
                        <div class="cabecera-agg-material">
                            <div class="cabecera-materiales-flex">
                                <h2 class="titulo-material">Reporte de Estudio</h2>
                                <form action="#" class="form-agg-material" id="form-a-reporte-curso">
                                    <select name="seccion-cursos" id="seccion-cursos">
                                        <optgroup label="Seccion-A">
                                            <option value="" selected disabled>cursos</option>
                                            <option value="1ro">1ro</option>
                                            <option value="2do">2do</option>
                                            <option value="3ro">3ro</option>
                                            <option value="4to">4to</option>
                                            <option value="5to">5to</option>
                                            <option value="6to">6to</option>
                                        </optgroup>
                                        <optgroup label="Seccion-B">
                                            <option value="1ro">1ro</option>
                                            <option value="2do">2do</option>
                                            <option value="3ro">3ro</option>
                                            <option value="4to">4to</option>
                                            <option value="5to">5to</option>
                                            <option value="6to">6to</option>
                                        </optgroup>
                                    </select>                               
                                </form>                        
                            </div>
                        </div>
                        <div class="scroll-tabla-container-admin">
                            <table id="tabla-estudiantes-admin">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Asignatura</th>
                                    <th>Ver</th>
                                </tr>
                                {{% for profesor in profesores %}}
                                <tr class="fila-calificacion">
                                    <td>{{ profesores.id_profesor }}</td>
                                    <td>{{ profesores.nombre }}</td>
                                    <td>{{ profesores.apellido }}</td>
                                    <td>{{ profesores.id_asignatura }}</td>
                                    <td class="ver-estudiante-p"><a href="/admin/reportes-profesor" class="ver-recurso"><figure><img src="{{ url_for('static', filename='imagenes/iconos/angle-small-right.svg') }}" alt="ver-estudiante"></figure></a></td>
                                </tr>
                                {{% endfor %}}
                            </table>
                        </div>
                        <!-- <table class="tabla-estudiante-material" id="tabla-reporte-curso">
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Asignatura</th>
                                <th>Ver</th>
                            </tr>
                            <tr>
                                <td>1010</td>
                                <td>Miguel Enrique</td>
                                <td>Martinez</td>
                                <td>Matem&aacute;ticas</td>
                                <td class="ver-estudiante-p"><a href="a-reporte-profesor.html" class="ver-recurso"><figure><img src="../imagenes/iconos/angle-small-right.svg" alt="ver-estudiante"></figure></a></td>
                            </tr>
                            <tr>
                                <td>1010</td>
                                <td>Miguel Enrique</td>
                                <td>Martinez</td>
                                <td>Matem&aacute;ticas</td>
                                <td class="ver-estudiante-p"><a href="a-reporte-profesor.html" class="ver-recurso"><figure><img src="../imagenes/iconos/angle-small-right.svg" alt="ver-estudiante"></figure></a></td>
                            </tr>
                            <tr>
                                <td>1010</td>
                                <td>Miguel Enrique</td>
                                <td>Martinez</td>
                                <td>Matem&aacute;ticas</td>
                                <td class="ver-estudiante-p"><a href="a-reporte-profesor.html" class="ver-recurso"><figure><img src="../imagenes/iconos/angle-small-right.svg" alt="ver-estudiante"></figure></a></td>
                            </tr>
                            <tr>
                                <td>1010</td>
                                <td>Miguel Enrique</td>
                                <td>Martinez</td>
                                <td>Matem&aacute;ticas</td>
                                <td class="ver-estudiante-p"><a href="a-reporte-profesor.html" class="ver-recurso"><figure><img src="../imagenes/iconos/angle-small-right.svg" alt="ver-estudiante"></figure></a></td>
                            </tr>
                        </table> -->
                    </article>
            </section>
        </main>
    </div>
    <script src="{{ url_for('static', filename='js/menu-admin.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='js/profesor-ver-estudiante-modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ver-recurso-p.js') }}"></script>
</body>
</html>